// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.list-inline-item {
  display : inline-block;
  margin : 0 10px;
}

#footer-social {
  margin-top : 5rem;
}

.legal {
  text-align: center;

  & a {
    display: inline-block;
    margin: 0 10px;
  }
}

footer {
  padding-left: 17%;
}

footer a {
  color: $light-grey;

  -webkit-transition: color 1s ease-in-out;
     -moz-transition: color 1s ease-in-out;
       -o-transition: color 1s ease-in-out;
          transition: color 1s ease-in-out;

  &:hover {
    color : #ee6e73 !important;
  }
}
